<h1 class="mb-1 restaurant-show-title">編輯餐廳資訊</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">編輯餐廳資訊</h5>
          <hr>
          <form method="POST" action="/restaurants/{{restaurant._id}}/edit">
            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-9">
                <input type="text" name="name" class="form-control" id="name" value="{{restaurant.name}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                餐廳英文名稱
              </label>
              <div class="col-md-9">
                <input type="text" name="name_en" class="form-control" id="name_en" value="{{restaurant.name_en}}">
                <small class="text-muted form-text">非必填</small>
              </div>
            </div>


            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                餐廳類別
              </label>
              <div class="col-md-9">
                <input type="text" name="category" class="form-control" id="category" value="{{restaurant.category}}"
                  required>
                <small class="text-muted form-text">例如：日本料理, 義式餐廳...</small>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                餐廳圖片
              </label>
              <div class="col-md-9">
                <input type="text" name="image" placeholder="填入餐廳相關圖片網址" class="form-control" id="image"
                  value="{{restaurant.image}}">
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                地址
              </label>
              <div class="col-md-9">
                <input type="text" name="location" class="form-control" id="location" value="{{restaurant.location}}"
                  required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                電話
              </label>
              <div class="col-md-9">
                <input type="text" name="phone" class="form-control" id="phone" value="{{restaurant.phone}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                Google地圖
              </label>
              <div class="col-md-9">
                <input type="text" name="google_map" placeholder="填入google地圖網址" class="form-control" id="google_map"
                  value="{{restaurant.google_map}}" required>

              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                評分
              </label>
              <div class="col-md-9">
                <input type="number" step="0.1" min="1" max="5" name="rating" class="form-control" id="rating"
                  value="{{restaurant.rating}}" required>
                <small class="text-muted form-text">評分介於1~5，小數點最多到第一位(例如:4.3)</small>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="length" class="col-md-3 col-form-label">
                介紹
              </label>
              <div class="col-md-9">
                <textarea name="description" rows="3" class="form-control" placeholder="填入餐廳簡介" id="description"
                  required>{{restaurant.description}}</textarea>
              </div>

              <button class="btn btn-outline-success mt-3" type="submit">更新</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>