<h1 class="mb-1 restaurant-show-title home-title">My Restaurant List</h1>
<div class="container user-filter d-flex justify-content-between align-items-stretch">

  {{!-- <!-- search bar --> --}}
  <div class="search-bar">
    <form action="/search">
      <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
          value="{{keyword}}" aria-describedby="search-button">
        <div class="input-group-append">
          <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  {{!-- sorting selection --}}
  <form action="/" method="GET">
    <select class="form-select form-select-sm" name="sorting" onchange="this.form.submit()">
      <option value="byNameAsc" {{ifSelect sorting 'byNameAsc' }}>名稱 A->Z</option>
      <option value="byNameDesc" {{ifSelect sorting 'byNameDesc' }}>名稱 Z->A</option>
      <option value="byCategory" {{ifSelect sorting 'byCategory' }}>類別</option>
      <option value="byLocation" {{ifSelect sorting 'byLocation' }}>地區</option>
      <option value="byTimeAsc" {{ifSelect sorting 'byTimeAsc' }}>加入時間先->後</option>
      <option value="byTimeDesc" {{ifSelect sorting 'byTimeDesc' }}>加入時間後->先</option>
    </select>
  </form>
</div>

{{!-- <!-- restaurant list --> --}}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 col-12 mx-auto">
      <div class="card-columns">
        {{!-- card 1 --}}
        {{#each restaurants}}
          <div class="card">
            <a href="/restaurants/{{this._id}}" class="text-secondary">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <div class="restaurant-location mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.location}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </a>
            {{!-- edit and delete icons --}}
            <div class="group d-flex float-right m-1 text-secondary">
              <button class="btn btn-outline-secondary">
                <a href="/restaurants/{{this._id}}/edit" class="edit">
                  <i class="fas fa-edit"></i>
                </a>
              </button>

              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" class="delete-form"
                id="delete-form-{{this._id}}" onsubmit="return confirm('確定要刪除嗎？')">
                <button type="submit" class="btn btn-outline-secondary">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>